@using Microsoft.AspNet.Identity
@using System.Web.Mvc
@{
    var isAuthenticated = HttpContext.Current.User.Identity.IsAuthenticated;
}
<ul class="nav navbar-nav navbar-right">
    @if (isAuthenticated)
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                @HttpContext.Current.User.Identity.Name
            </a>
            <ul class="dropdown-menu" aria-labelledby="accountDropdown">
                <li>@Html.ActionLink("Manage", "Index", "Manage")</li>
                <li>
                    @using (Html.BeginForm("Logout", "Account", FormMethod.Post)) {
                        @Html.AntiForgeryToken()
                        <button type="submit" class="btn btn-link p-0">Log out</button>
                    }
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">@Html.ActionLink("Log in", "Login", "Account", null, new { @class = "nav-link" })</li>
        <li class="nav-item">@Html.ActionLink("Register", "Register", "Account", null, new { @class = "nav-link" })</li>
    }
</ul>
